header{
    height: 108px;
    background-image: url(Imagenes/CuadroColor.png);
}

.cabeza{
    width: 90%;
    position: relative;
    margin: 0 auto;
    padding: 5px 0;
}

.logo{
    width: 150px;
}

h2{
    position: absolute;
    top: 35px;
    left: 200px;
    font-family: Arial;
    font-size: 35px;
    color: #9A4866;
    font-weight: 600;
    font-style: italic;
}

body{
    background-color: white;
}

.cajas{
    width: 90%;
    position: relative;
    margin: 20px auto;
}

.cajas li{
    display: inline-block;
    width: 49.5%;
    box-sizing: border-box;
}

textarea{
    width: 85%;
    height: 300px;
    resize: none;
    padding: 10px;
    border-left: 8px solid #9A4866;
    border-top: 8px solid #9A4866;
    border-right: 5px solid #9A4866;
    border-bottom: 5px solid #9A4866;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family: Arial;
    font-weight: 200;
    font-size: 20px;
}

.texto-secundario{
    margin-left: 6%;
    background-image: url("Imagenes/TextoEncriptadoFinal.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

p{
    width: 93%;
    margin-bottom: 10px;
}

.botones, .boton-copiar{
    width: 93%;
    position: relative; 
    display: flex;
    justify-content: center;
}

.boton-copiar{
    margin-left: 6%;
    margin-top: 16px;
}

.botones button, .copiar{
    padding: 10px;
    box-sizing: border-box;    
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.botones button:hover, .copiar:hover{
    transform:scale(1.2);
}

.encriptar{
    background-color: chartreuse;
    margin-right: 10px;
}

.desencriptar{
    background-color: crimson;
    margin-right: 10px;
}

.borrar{
    background-color: plum;
}

.copiar{
    position: relative;
    margin: 10px auto;
    background-color: yellow;
}

.pie{
    width: 100%;
    margin-top: 30px;
    background-color: #9A4866;
    padding: 10px;
    text-align: center;
    font-size: 10px;
    font-family: Arial;
    font-weight: bold;
    color: white;
}

@media (max-width: 480px){
    
    header, .cabeza, h1, .botones, .pie{
        width: auto;
    }

    header{
        height: 155px;
    }

    h1{
        text-align: center;
    }
   
    h2{
        position: static;
        font-size: x-large;
        margin-top: 10px;
        text-align: center;
    }
    
    .cajas li{
        display: block;
        width: 100%;
    }

    .caja-izquierda{
        margin-bottom: 20px;
    }

    textarea{
        width: 90%;
        height: 250px;
    }
    
    p{
        font-size: 18px;
    }

    .texto-secundario{
        margin-left: 0;
    }

    .botones{
        position: relative;
    }
    
    .boton-copiar{
        margin-left: 0;
        margin-top: 0;
    }
    .botones button, .copiar{
        width: auto;
        font-family: "Arial Narrow";
    }


}